*{
    margin:0;
    padding: 0;
    box-sizing: border-box;

}
.back-img{
    width: 100%;
    height: 400px;
    /* background-image: url(img/computadores.jpg); */
    /* background-image: url(https://raw.githubusercontent.com/hebertphp/DPI_6a_N_2021_2/main/aula6_29-10/img/computadores.jpg); */
    background-image: url(../img/floresta.jpg);
    background-repeat: no-repeat;
}
.back-img h2{
    padding-top: 20px;
    text-align: center;
    font-size: 3rem;
    color:blue;
}
#fora{
    height: 70px;
    text-align: center;
    font-size: 2em;
    background-image: linear-gradient(red,yellow,blue);
}    