.container{
    background-color: hsl(0,0%,75%);
    width: 500px;
    height: 400px;
    /* margin: 50px; */
    margin: 0px auto;
    border: 10px solid #00ff00;
    padding: 20px;
    text-align: center;
}
span{
    /* text-align:center; */
    background-color: blueviolet;
    font-size: 2em;
}
span:hover{
    background-color: coral;
    border: solid;
}

h1{
    background-color: red;
    text-align: center;
}